<div class="page-header">
  <h3>Follow #<%= @follow.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Sender</dt>
      <dd>
        <% if @follow.sender.present? %>
          <a href="/users/<%= @follow.sender_id %>">
            <%= @follow.sender.email %>
          </a>
        <% end %>
      </dd>

      <dt>Recipient</dt>
      <dd>
        <% if @follow.recipient.present? %>
          <a href="/users/<%= @follow.recipient_id %>">
            <%= @follow.recipient.email %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/follows" class="btn btn-primary">
        Back
      </a>
      <a href="/follows/<%= @follow.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_follow/<%= @follow.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
